<h1>Listing user_x_passwords</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_x_passwords.each do |user_x_password| %>
      <tr>
        <td><%= user_x_password.user_id %></td>
        <td><%= user_x_password.password_id %></td>
        <td><%= link_to 'Show', user_x_password %></td>
        <td><%= link_to 'Edit', edit_user_x_password_path(user_x_password) %></td>
        <td><%= link_to 'Destroy', user_x_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User x password', new_user_x_password_path %>
