<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_x_password.user_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_x_password.password_id %>
</p>

<%= link_to 'Edit', edit_user_x_password_path(@user_x_password) %> |
<%= link_to 'Back', user_x_passwords_path %>
