<h1>Listing contrasenhas</h1>

<table>
  <thead>
    <tr>
      <th>Contrasenha</th>
      <th>Feccreacion</th>
      <th>Fecvencimiento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contrasenhas.each do |contrasenha| %>
      <tr>
        <td><%= contrasenha.contrasenha %></td>
        <td><%= contrasenha.fecCreacion %></td>
        <td><%= contrasenha.fecVencimiento %></td>
        <td><%= link_to 'Show', contrasenha %></td>
        <td><%= link_to 'Edit', edit_contrasenha_path(contrasenha) %></td>
        <td><%= link_to 'Destroy', contrasenha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrasenha', new_contrasenha_path %>
