<p id="notice"><%= notice %></p>

<p>
  <strong>Contrasenha:</strong>
  <%= @contrasenha.contrasenha %>
</p>

<p>
  <strong>Feccreacion:</strong>
  <%= @contrasenha.fecCreacion %>
</p>

<p>
  <strong>Fecvencimiento:</strong>
  <%= @contrasenha.fecVencimiento %>
</p>

<%= link_to 'Edit', edit_contrasenha_path(@contrasenha) %> |
<%= link_to 'Back', contrasenhas_path %>
