<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="personal_information">
    <h2>Información personal</h2>
    <div class="nombres">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="apellidos">
      <%= f.label :lastName %>
      <%= f.text_field :lastName %>
    </div>
    <div class="departamento">
      <label>Departamento:</label>
      <select id="departamento">
        <option value = "default" selected>Seleccione un Departamento</option>
      </select>
    </div>
    <div class="provincia">
      <label>Provincia:</label>
      <select id="provincia">
        <option value = "default" selected>Seleccione una Provincia</option>
      </select>
    </div>
    <div class="distrito">
      <label>Distrito:</label>
      <select id="distrito">
        <option value = "default" selected>Seleccione un Distrito</option>
      </select>
      <%= f.hidden_field :ubigeo_id %>
    </div>
    <div class="fechaNac">
      <%= f.label :birthDate %>
      <%= f.date_select :birthDate, start_year: 1900, end_year: Date.today.year %>
    </div>
    <div class="sexo">
      <%= f.radio_button :genre, "M", :checked => true %>
      <%= label_tag(:genre_M, "Masculino") %>
      <%= f.radio_button :genre, "F" %>
      <%= label_tag(:genre_F, "Femenino") %>
    </div>
    <div class="balance">
      <%= f.hidden_field :balancePEN, :value => 0.0 %>
    </div>
  </div>
  <div class="contact_information">
    <h2>Informacion de Contacto</h2>
    <div class="email">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="phone">
      <%= f.label :phone %>
      <%= f.telephone_field :phone %>
    </div>
    <div class="mobile">
      <%= f.label :mobile %>
      <%= f.telephone_field :mobile %>
    </div>
  </div>
  <div class="login_information">
    <h2>Usuario y Contraseña</h2>
    <div class="userName">
      <%= f.label :userName %>
      <%= f.text_field :userName %>
    </div>
    <div class="password">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
