<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Ubigeo</th>
      <th>Birthdate</th>
      <th>Genre</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Alias</th>
      <th>Balance</th>
       <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastName %></td>
        <td><%= user.ubigeo_id %></td>
        <td><%= user.birthDate %></td>
        <td><%= user.genre %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.mobile %></td>
        <td><%= user.alias %></td>
        <td><%= user.balance %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
