<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Ubigeo:</strong>
  <%= @user.ubigeo_id %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthDate %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @user.genre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @user.alias %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @user.balance %>
</p>
<p>
  <strong>Password:</strong>
    <%= @passwords.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
