<h1>Listing passwords</h1>

<table>
  <thead>
    <tr>
      <th>Password</th>
      <th>Duedate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @passwords.each do |password| %>
      <tr>
        <td><%= password.password %></td>
        <td><%= password.dueDate %></td>

        <td><%= link_to 'Edit', edit_password_path(user_password) %></td>
        <td><%= link_to 'Destroy', user_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Password', new_user_password_path %>
