<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apepaterno:</strong>
  <%= @usuario.apePaterno %>
</p>

<p>
  <strong>Apematerno:</strong>
  <%= @usuario.apeMaterno %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @usuario.distrito_id %>
</p>

<p>
  <strong>Fecnac:</strong>
  <%= @usuario.fecNac %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @usuario.sexo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Telfijo:</strong>
  <%= @usuario.telFijo %>
</p>

<p>
  <strong>Telmovil:</strong>
  <%= @usuario.telMovil %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @usuario.alias %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @usuario.saldo %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
