<%= form_for(@password_setting) do |f| %>
  <% if @password_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@password_setting.errors.count, "error") %> prohibited this password_setting from being saved:</h2>

      <ul>
      <% @password_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :minLength %><br>
    <%= f.number_field :minLength %>
  </div>
  <div class="field">
    <%= f.label :minLetters %><br>
    <%= f.number_field :minLetters %>
  </div>
  <div class="field">
    <%= f.label :minNumbers %><br>
    <%= f.number_field :minNumbers %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :maxLoginFails %><br>
    <%= f.number_field :maxLoginFails %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
