<%= form_for(@usuario_x_contrasenha) do |f| %>
  <% if @usuario_x_contrasenha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario_x_contrasenha.errors.count, "error") %> prohibited this usuario_x_contrasenha from being saved:</h2>

      <ul>
      <% @usuario_x_contrasenha.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :contrasenha_id %><br>
    <%= f.number_field :contrasenha_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
