<h1>Listing usuario_x_contrasenhas</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Contrasenha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuario_x_contrasenhas.each do |usuario_x_contrasenha| %>
      <tr>
        <td><%= usuario_x_contrasenha.usuario_id %></td>
        <td><%= usuario_x_contrasenha.contrasenha_id %></td>
        <td><%= link_to 'Show', usuario_x_contrasenha %></td>
        <td><%= link_to 'Edit', edit_usuario_x_contrasenha_path(usuario_x_contrasenha) %></td>
        <td><%= link_to 'Destroy', usuario_x_contrasenha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario x contrasenha', new_usuario_x_contrasenha_path %>
