<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %></title>
  <%= javascript_include_tag 'jquery-2.1.4.min' %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
